@()

<section class="hero is-medium is-info page-image">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <strong class="brand-name is-size-3">Takiu</strong>
          </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
              <strong>Búp bê</strong>
            </a>
            <a class="navbar-item">
              <strong>Liên hệ</strong>
            </a>
            <span class="navbar-item">
              <a class="button is-white"><strong>Mua ngay</strong></a>
            </span>
          </div>
        </div>
      </div>

    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="has-text-centered">
        <p class="title brand-name has-text-white page-title text-shadow">Takiu</p>
        <p class="title page-subtitle is-3 is-italic has-text-white text-shadow"></p>
        <br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
    </div>
  </div>
</section>