@()

@main("Welcome") {
  @home.banner()

  @home.section(
    title = "Công nghệ hiện đại trong chú gấu bông truyền thống",
    image = "images/kid_window.jpg"
  ) {
    Dù là ở xa hay gần, búp bê Takiu cũng có thể chuyển lời của bạn và bé
    đến với nhau một cách nhanh chóng.
  }

  @home.inv_section(
    title = "Bảo vệ đôi mắt bé khỏi màn hình điện thoại",
    image = "images/boy.jpg"
  ) {
    <b>69%</b> trẻ bị cận thị hoặc các bệnh về mắt sau khi tiếp xúc nhiều
    với màn hình điện thoại, ipad. Để trở thành một món đồ chơi an toàn
    cho trẻ, búp bê Takiu không hề có gắn màn hình điện tử nào.
  }

  @home.subscribe_form()
}
