@()

<div class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container is-fluid">
      <div class="columns is-vcentered">
        <div class="column is-8 is-offset-2">
          <div class="has-text-centered">
            <p class="title is-size-2">Búp bê Takiu sắp ra mắt!</p>
            <br/>

            <p class="is-size-4">
              Để lại email của bạn ở đây để nhận thông báo khi Takiu sẵn sàng
            </p>
            <p class="is-size-2 has-text-weight-bold is-italic">VÀ KHUYẾN MÃI 15%</p>
            <p class="is-size-7">(Chúng tôi không spam hoặc cung cấp email của bạn cho bất kỳ ai khác)</p>
            <br/><br/>
          </div>

          <div class="box column is-8 is-offset-2">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="email" id="input-email" placeholder="email">
              </p>
              <p class="control">
                <a class="button is-info" id="btn-subscribe">Nhắc tôi</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>